################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/recreatio
/.vs
**/bin/
**/obj/
**/node_modules/
**/dist/
**/.env
**/.env.*
**/*.user
**/*.suo
