<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://recreatio.hostingasp.pl/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>db4477eb-a99f-1290-ce62-6897329b38e4</ProjectGuid>
    <MSDeployServiceURL>ssl5.webio.pl:8172/msdeploy.axd?site=recreatio.hostingasp.pl</MSDeployServiceURL>
    <DeployIisAppPath>recreatio.hostingasp.pl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>recreatio_dply</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MsDeploySkipRules Include="SkipAppSettings">
      <ObjectName>filePath</ObjectName>
      <AbsolutePath>.*\\appsettings\.json$</AbsolutePath>
    </MsDeploySkipRules>
  </ItemGroup>
</Project>
